# Dependências
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds do Electron que não queremos subir
dist
*.exe
*.dll
*.pak
*.dmg
*.AppImage
*.zip

# Ignorar tudo dentro da pasta build EXCETO ícones e logo
build/*
!build/*.png
!build/*.ico
!build/*.icns

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Dados de execução
pids
*.pid
*.seed
*.pid.lock

# Cobertura
coverage/

# Temporário
tmp/
temp/